
  /* NavBar Part*/
  .navbar-nav .nav-link {
    color: #333;
  }
  
  .navbar-nav .nav-link:hover {
    color: #fa0000;
  }
  
  .dropdown-menu {
    background-color: #fff;
  }
  
  .navbar-brand{
    padding-left: 80px;
  }
  .nav-item {
    margin-right: 10px;
  }
  

/* Part of Black Text in middile  */

.DifText{
    padding: 12px;
background: #000000;
}
.ShopButton{
    color: bisque;
}
.DifText p{
    margin-bottom: 0 ;
}